BOT_TOKEN=your_bot_token_here
CLIENT_ID=your_application_client_id_here
GUILD_ID=1342073127668289578
TARGET_CHANNEL_ID=1521295122204201163
RECRUIT_BOARD_CHANNEL_ID=1518656998902730853
INVITE_CHANNEL_ID=1518656998902730853
RECRUIT_REPORT_CHANNEL_ID=1518190906749095946
BIRTHDAY_BOARD_CHANNEL_ID=1342077954506752091
LOG_CHANNEL_ID=put_log_channel_id_here
WELCOME_CHANNEL_ID=put_welcome_channel_id_here
APP_CREATE_CHANNEL_ID=put_app_channel_id_here
APP_LOG_CHANNEL_ID=put_app_log_channel_id_here
APP_CATEGORY_ID=put_app_category_id_here
RECRUIT_APP_BANNER_CHANNEL_ID=put_recruit_app_banner_channel_id_here
RECRUIT_APP_LIST_CHANNEL_ID=put_recruit_app_list_channel_id_here
